@import "variables";

.modal-box {
  max-width: $screen-sm;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__heading {
    font-family: $font-family-secondary;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: $color-neutral-900;
  }

  &__close-icon {
    cursor: pointer;
    color: $color-neutral-500;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 22px;
    color: $color-neutral-900;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }

  &__action {
    height: 36px;
    font-size: 14px;
  }
}
