<footer class="footer">
  <div class="footer__row">
    <app-logo class="footer__logo"></app-logo>
    <nav class="footer__nav">
      <h3 class="footer__heading">Product</h3>
      <ul>
        <li class="footer__nav-item">
          <a [routerLink]="['/', PATHS.features]">Features</a>
        </li>
        <li class="footer__nav-item">
          <a [routerLink]="['/', PATHS.pricing]">Pricing</a>
        </li>
      </ul>
    </nav>
    <nav class="footer__nav">
      <h3 class="footer__heading">Resources</h3>
      <ul>
        <li class="footer__nav-item">
          <a [routerLink]="['/', PATHS.blog]">Blog</a>
        </li>
        <li class="footer__nav-item">
          <a [routerLink]="['/', PATHS.userGuides]">User guides</a>
        </li>
        <li class="footer__nav-item">
          <a [routerLink]="['/', PATHS.webinars]">Webinars</a>
        </li>
      </ul>
    </nav>
    <nav class="footer__nav">
      <h3 class="footer__heading">Company</h3>
      <ul>
        <li class="footer__nav-item">
          <a [routerLink]="['/', PATHS.aboutUs]">About us</a>
        </li>
        <li class="footer__nav-item">
          <a [routerLink]="['/', PATHS.contact]">Contact us</a>
        </li>
      </ul>
    </nav>
    <div class="footer__subscription">
      <div>
        <h3 class="footer__heading footer__heading--primary">
          Subscribe to our newsletter
        </h3>
        <p class="footer__subscription-text">
          For product announcements and exclusive insigths
        </p>
      </div>
      <form (ngSubmit)="onSubscribe(email)">
        <div class="footer__input-container">
          <label for="email">
            <fa-icon [icon]="emailIcon" class="footer__email-icon"></fa-icon>
          </label>
          <input
            type="email"
            id="email"
            placeholder="Input your email"
            ngModel
            name="email"
            required
            #email="ngModel"
          />
        </div>
        <app-button type="submit" [customStyle]="subBtnCustomStyle"
          >Subscribe</app-button
        >
      </form>
    </div>
  </div>
  <hr class="footer__line" />
  <div class="footer__row footer__row--align-center">
    <select class="footer__language-selector" name="language" id="language">
      <option value="english">English</option>
      <option value="polish">Polish</option>
    </select>
    <div class="footer__text">
      <span>© 2024 Learn, Inc. </span>
      <span> · </span>
      <a [routerLink]="['/', PATHS.privacy]">Privacy </a>
      <span> · </span>
      <a [routerLink]="['/', PATHS.terms]">Terms</a>
    </div>
    <div class="footer__social-media">
      <a href="https://twitter.com" target="_blank">
        <fa-icon class="footer__social-media-icon" [icon]="xIcon"></fa-icon>
      </a>
      <a href="https://www.facebook.com" target="_blank">
        <fa-icon class="footer__social-media-icon" [icon]="fbIcon"></fa-icon>
      </a>
      <a href="https://www.youtube.com" target="_blank">
        <fa-icon class="footer__social-media-icon" [icon]="ytIcon"></fa-icon>
      </a>
    </div>
  </div>
</footer>
