<form class="change-password-form" (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="change-password-form__controls">
    <div class="change-password-form__control">
      <label for="currentPassword">Current password</label>
      <div class="change-password-form__input-container">
        <input
          class="change-password-form__input"
          [type]="hidePassword.current ? 'password' : 'text'"
          id="currentPassword"
          placeholder="Enter current password"
          ngModel
          name="currentPassword"
          required
          minlength="6"
          maxlength="30"
          #currentPassword="ngModel"
        />
        <fa-icon
          class="change-password-form__input-icon"
          [icon]="eyeIcon"
          (click)="hidePassword.current = !hidePassword.current"
        ></fa-icon>
      </div>
      @if (!currentPassword.valid && currentPassword.touched) {
      <span
        class="change-password-form__text change-password-form__text--danger"
        >Current password is required.</span
      >
      }
    </div>
    <div class="change-password-form__control">
      <label for="newPassword">New password</label>
      <div class="change-password-form__input-container">
        <input
          class="change-password-form__input"
          [type]="hidePassword.new ? 'password' : 'text'"
          id="newPassword"
          placeholder="Enter new password"
          ngModel
          name="newPassword"
          required
          minlength="6"
          maxlength="30"
          #newPassword="ngModel"
        />
        <fa-icon
          class="change-password-form__input-icon"
          [icon]="eyeIcon"
          (click)="hidePassword.new = !hidePassword.new"
        ></fa-icon>
      </div>
      @if (!newPassword.valid && newPassword.touched) {
      <span
        class="change-password-form__text change-password-form__text--danger"
        >New password is required.</span
      >
      }
    </div>
    <div class="change-password-form__control">
      <label for="confirmPassword">Confirm new password</label>
      <div class="change-password-form__input-container">
        <input
          class="change-password-form__input"
          [type]="hidePassword.confirm ? 'password' : 'text'"
          id="confirmPassword"
          placeholder="Confirm new password"
          ngModel
          name="confirmPassword"
          required
          minlength="6"
          maxlength="30"
          #confirmPassword="ngModel"
        />
        <fa-icon
          class="change-password-form__input-icon"
          [icon]="eyeIcon"
          (click)="hidePassword.confirm = !hidePassword.confirm"
        ></fa-icon>
      </div>
    </div>
    @if (!confirmPassword.valid && confirmPassword.touched) {
    <span class="change-password-form__text change-password-form__text--danger"
      >New password confirmation is required.</span
    >
    }
  </div>

  <div class="change-password-form__buttons">
    <app-button
      class="change-password-form__button"
      type="button"
      styleType="neutral-transparent"
      [routerLink]="myAccountPath"
      >Cancel</app-button
    >
    <app-button class="change-password-form__button" type="submit"
      >Change password</app-button
    >
  </div>
  @if (isLoading) {
  <app-loading-spinner></app-loading-spinner>
  }
</form>
