@import "variables";

.my-students {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 28px;
  }

  &__heading {
    font-family: $font-family-secondary;
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    color: $color-neutral-900;
  }

  &__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid $color-neutral-250;
    border-radius: $border-radius-m;

    thead {
      background: $color-neutral-100;
      text-align: left;
    }

    th,
    td {
      padding: 16px 12px;
      font-size: 14px;
      line-height: 22px;
    }

    td {
      border-top: 1px solid $color-neutral-250;

      &:first-child {
        font-weight: 700;
      }
    }
  }

  &__status {
    color: $color-danger-500;

    &--active {
      color: $color-tertiary3-500;
    }
  }
}
