@import "variables";

.change-password-page {
  position: relative;
  max-width: $screen-lg;
  width: 90%;
  margin: 72px auto;

  &__heading {
    margin-bottom: 28px;
    font-family: $font-family-secondary;
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    color: $color-neutral-700;
  }

  &__subheading {
    font-family: $font-family-secondary;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    color: $color-neutral-700;
    display: flex;
    gap: 8px;
  }

  &__password-section {
    display: flex;
    gap: 146px;
  }

  app-change-password-form {
    flex-grow: 1;
  }

  @media (max-width: $screen-md) {
    &__password-section {
      flex-direction: column;
      gap: 32px;
    }
  }
}
