<div class="registration-form">
  <img class="registration-form__image" [src]="imageSrc" alt="sitting person" />
  <form
    class="registration-form__form"
    (ngSubmit)="onSubmit(form)"
    #form="ngForm"
  >
    <div class="registration-form__controls">
      <div class="registration-form__control">
        <label
          class="registration-form__label"
          [ngClass]="{
            'registration-form__label--invalid':
              firstName.invalid && firstName.touched
          }"
          for="first-name"
          >First name</label
        >
        <input
          class="registration-form__input"
          type="text"
          id="first-name"
          placeholder="Input text"
          required
          name="firstName"
          ngModel
          #firstName="ngModel"
        />
      </div>
      <div class="registration-form__control">
        <label
          class="registration-form__label"
          [ngClass]="{
            'registration-form__label--invalid':
              lastName.invalid && lastName.touched
          }"
          for="last-name"
          >Last name</label
        >
        <input
          class="registration-form__input"
          type="text"
          id="last-name"
          placeholder="Input text"
          required
          name="lastName"
          ngModel
          #lastName="ngModel"
        />
      </div>
      <div class="registration-form__control">
        <label
          class="registration-form__label"
          [ngClass]="{
            'registration-form__label--invalid': email.invalid && email.touched
          }"
          for="email"
          >Email</label
        >
        <input
          class="registration-form__input"
          type="email"
          id="email"
          placeholder="Input text"
          required
          name="email"
          ngModel
          #email="ngModel"
        />
      </div>
      @if (role === 'trainer') {
      <div class="registration-form__control">
        <label
          class="registration-form__label"
          [ngClass]="{
            'registration-form__label--invalid':
              specialization.invalid && specialization.touched
          }"
          for="specialization"
          >Specialization</label
        >
        <select
          class="registration-form__input registration-form__input--select"
          type="specialization"
          id="specialization"
          required
          name="specialization"
          ngModel
          #specialization="ngModel"
        >
          <option value="" disabled selected>Please select</option>
          <option value="1">Opcja 1</option>
          <option value="2">Opcja 2</option>
          <option value="3">Opcja 3</option>
        </select>
      </div>
      } @else if (role === 'student') {
      <div class="registration-form__control">
        <label class="registration-form__label" for="birth"
          >Date of birth (optional)</label
        >
        <input
          class="registration-form__input"
          type="birth"
          id="birth"
          placeholder="Input text"
          name="birth"
          ngModel
        />
      </div>
      <div class="registration-form__control">
        <label class="registration-form__label" for="adress"
          >Adress (optional)</label
        >
        <input
          class="registration-form__input"
          type="adress"
          id="adress"
          placeholder="Input text"
          name="adress"
          ngModel
        />
      </div>
      }
    </div>

    <app-button class="registration-form__button" type="submit"
      >Submit</app-button
    >
  </form>
  @if (isLoading) {
  <app-loading-spinner></app-loading-spinner>
  }
</div>
