$font-family-primary: "Poppins", sans-serif;
$font-family-secondary: "Montserrat", sans-serif;

$color-white: #ffffffff;

$color-primary-150: #e1dff8ff;
$color-primary-200: #cfcbf3ff;
$color-primary-500: #6355d8ff;
$color-primary-550: #4d3ed3ff;
$color-primary-600: #3d2dc7ff;

$color-neutral-500: #9095a0ff;
$color-neutral-650: #424955ff;
$color-neutral-900: #171a1fff;

$color-danger-500: #f22128ff;
$color-danger-600: #d20c13ff;
$color-danger-650: #b90b11ff;

$color-tertiary1-500: #ed5d56ff;
$color-tertiary3-500: #60cfa5ff;
$color-tertiary3-600: #36b584ff;
