<div class="my-account-page">
  <h1 class="my-account-page__heading">My Account</h1>
  <section class="my-account-page__container">
    <app-my-account (changeMode)="onChangeEditMode($event)"></app-my-account>
    @if ( !editMode ) { @if ((user$|async)?.role === "student") {
    <app-my-trainers [addTrainer]="true"></app-my-trainers>
    } @if ((user$|async)?.role === "trainer") {
    <app-my-students></app-my-students>
    } }
  </section>
  @if (!editMode) {
  <section class="my-account-page__trainings">
    <h1 class="my-account-page__heading">My Trainings</h1>
    <div class="my-account-page__text">
      The Training Section is interactive, allowing you to engage with trainers
      and fellow learners, participate in quizzes, and track your progress. All
      our courses are flexible and adaptable to your schedule and learning
      speed.
    </div>
    <app-button class="my-account-page__button" [routerLink]="trainingsPath"
      >View trainings</app-button
    >
  </section>
  }
</div>
