@import "variables";

.my-account-page {
  margin: 48px auto 132px auto;
  width: 90%;
  max-width: $screen-lg;

  &__heading {
    margin-bottom: 80px;
    font-family: $font-family-secondary;
    font-size: 56px;
    font-weight: 700;
    line-height: 78px;
    color: $color-neutral-900;
    text-align: center;
  }

  &__container {
    display: flex;
    gap: 32px;

    app-my-account {
      width: 100%;
    }

    app-my-trainers {
      padding: 32px;
      min-width: 428px;
    }
  }

  @media (max-width: $screen-md) {
    &__container {
      flex-direction: column;
      gap: 24px;
    }
  }
}
