@import "variables";

.registration-page {
  max-width: 1176px;
  width: 90%;
  margin: 96px auto;
  display: flex;
  flex-direction: column;

  &__heading {
    font-family: $font-family-secondary;
    font-size: 48px;
    font-weight: 700;
    line-height: 68px;
    color: $color-neutral-900;
  }

  &__role {
    font-size: 18px;
    line-height: 28px;
    color: $color-neutral-500;
    margin-bottom: 39px;
  }
}
