@import "variables";

.all-trainers {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 28px;
  }

  &__heading {
    font-family: $font-family-secondary;
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    color: $color-neutral-900;
  }

  &__button {
    display: inline-block;
    height: 44px;
    width: 88px;
  }

  &__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid $color-neutral-250;
    border-radius: $border-radius-m;
    margin-bottom: 26px;

    thead {
      background: $color-neutral-100;
      text-align: left;
    }

    th,
    td {
      padding: 16px 12px;
      font-size: 14px;
      line-height: 22px;
      width: 50%;

      &:first-child {
        box-sizing: content-box;
        width: 40px;
      }
    }

    td {
      border-top: 1px solid $color-neutral-250;

      &:nth-child(2) {
        font-weight: 700;
      }
    }
  }

  &__checkbox {
    width: 16px;
    height: 16px;

    color: $color-primary-500;
  }
}
