<div class="my-account" [ngClass]="{ 'my-account--edit': editMode }">
  <form
    class="my-account__form"
    [ngClass]="{ 'my-account__form--edit': editMode }"
    [formGroup]="profileForm"
    (ngSubmit)="onSaveChanges()"
  >
    <h2 class="my-account__heading">My profile</h2>
    <div class="my-account__row my-account__row--status">
      <img class="my-account__image" [src]="data.image" alt="user's avatar" />
      @if (!editMode) {
      <div class="my-account__group">
        <label class="my-account__label">Status</label>
        <div class="my-account__status-input-container">
          <fa-icon
            class="my-account__status-icon"
            [ngClass]="{
                'my-account__status-icon--active': data.status === 'active',
                'my-account__status-icon--inactive': data.status === 'inactive',
              }"
            [icon]="data.status === 'active' ? activeIcon : inactiveIcon"
            size="lg"
          ></fa-icon>
          <input
            class="my-account__control"
            [ngClass]="{
                'my-account__control--status-active': data.status === 'active',
                'my-account__control--status-inactive': data.status === 'inactive',
              }"
            type="text"
            readonly
            [value]="data.status | capitalizeFirst"
            tabindex="-1"
          />
        </div>
      </div>
      } @else {
      <div class="my-account__upload-container">
        <h3>Upload your photo</h3>
        <p>Your photo should be in PNG or JPG format</p>
        <div class="my-account__image-buttons">
          <app-button
            class="my-account__image-button"
            type="button"
            styleType="prime-border"
            (click)="chooseImageHandler($event)"
            >Choose image</app-button
          >
          <app-button
            class="my-account__image-button"
            type="button"
            styleType="neutral-transparent"
            (click)="removeImageHandler($event)"
            >Remove</app-button
          >
        </div>
      </div>
      }
    </div>

    <div class="my-account__controls-group">
      <div class="my-account__group">
        <label class="my-account__label">First Name</label>
        <input
          class="my-account__control"
          type="text"
          [readonly]="!editMode"
          [tabIndex]="editMode ? '' : -1"
          formControlName="firstName"
        />
      </div>
      <div class="my-account__group">
        <label class="my-account__label">Last Name</label>
        <input
          class="my-account__control"
          type="text"
          [readonly]="!editMode"
          [tabIndex]="editMode ? '' : -1"
          formControlName="lastName"
        />
      </div>
      <div class="my-account__group">
        <label class="my-account__label">User Name</label>
        <input
          class="my-account__control"
          type="text"
          [readonly]="!editMode"
          [tabIndex]="editMode ? '' : -1"
          formControlName="username"
        />
      </div>
      <div class="my-account__group">
        <label class="my-account__label">Date of birth</label>
        <input
          class="my-account__control"
          type="text"
          [readonly]="!editMode"
          [tabIndex]="editMode ? '' : -1"
          formControlName="dateOfBirth"
        />
      </div>
      <div class="my-account__group">
        <label class="my-account__label">Adress</label>
        <input
          class="my-account__control"
          type="text"
          [readonly]="!editMode"
          [tabIndex]="editMode ? '' : -1"
          formControlName="adress"
        />
      </div>
      <div class="my-account__group">
        <label class="my-account__label">Email</label>
        <input
          class="my-account__control"
          type="text"
          [readonly]="!editMode"
          [tabIndex]="editMode ? '' : -1"
          formControlName="email"
        />
      </div>
      @if (editMode) {
      <div class="my-account__group my-account__group--slider">
        <label class="my-account__label">Active</label>
        <mat-slide-toggle hideIcon="true"></mat-slide-toggle>
      </div>
      }
    </div>

    @if (!editMode) {
    <div class="my-account__buttons">
      <app-button
        class="my-account__button"
        (click)="changeModeHandler()"
        type="button"
        >Edit profile</app-button
      >
      <app-button
        class="my-account__button"
        (click)="changePasswordHandler()"
        type="button"
        styleType="secondary"
        >Change password</app-button
      >
    </div>
    }
  </form>
  @if ( editMode ) {
  <div class="my-account__buttons my-account__buttons--edit">
    <app-button
      class="my-account__button"
      (click)="changeModeHandler()"
      type="button"
      styleType="neutral-transparent"
      >Cancel</app-button
    >
    <app-button
      class="my-account__button"
      (click)="changeModeHandler()"
      type="button"
      >Save changes</app-button
    >
  </div>
  }
</div>
